@btn-color: #0076fe;

.orderList {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;

    &-content {
        display: flex;

        &-left {
            flex: 3;

            &-btn {
                width: calc(calc(100% - 100px) / 5);
                height: auto;
                padding: 20px;
                border-radius: 8px;
                margin-left: 20px;
                font-weight: bold;
            }

            &-select {
                display: flex;
                justify-content: flex-end;
                margin-top: 10px;
            }

            &-flip {
                display: flex;
                align-items: center;
                flex: 1;

                &-btn {
                    display: flex;
                    align-items: center;
                    flex: 1;
                    justify-content: center;
                    border: 1px solid #333;
                    height: 60px;
                    color: @btn-color;
                }
            }
        }

        &-middle {
            flex: 1;
            padding-left: 24px;
            display: flex;
            flex-direction: column;
        }

        &-right {
            display: flex;
            flex-direction: column;
            margin-left: 24px;
            justify-content: space-between;

            &-btn {
                border: 1px solid @btn-color;
                color: @btn-color;
                height: auto;
                padding: 16px;
                border-radius: 8px;
                font-weight: bold;
            }
        }
    }

    &-footer {
        margin-top: 20px;
        border: 1px solid #333;
        flex: 1;
        border-radius: 8px;
    }
}